.youtube-wrapper {
  position: relative;
  padding-top:25px;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
